<%- include("../partials/header") %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to YelpCamp!</h1>
            <p>view our campgrounds from all over the world </p>
            <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add new Campground</a>
        </div>
    </header> 
    <h2>our most popular Campgrounds</h2>
    <div class = "row text-center" style="display: flex; flex-wrap: wrap;">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= campground.image %>" alt="image not found">
                </div>
                <div class="caption">
                    <h4><%= campground.name %> </h4>
                    <p>
                        <a class="btn btn-primary" href="/campgrounds/<%= campground._id %>">More Info</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>

</div>

<%- include("../partials/footer") %>